@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');


html {
    font-size: 18px; 
}

:root {
    --primary-color: #4A90E2;  /* Un azul vibrante */
    --secondary-color: #50E3C2;  /* Un verde azulado fresco */
    --background-color: #F5F7FA;  /* Un gris muy claro para el fondo */
    --text-color: #333333;  /* Gris oscuro para el texto principal */
    --light-text-color: #FFFFFF;  /* Blanco para texto sobre fondos oscuros */
    --input-background: #FFFFFF;  /* Blanco para el fondo del input */
    --chat-background: #FFFFFF;  /* Blanco para el fondo del chat */
    --message-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Sombra sutil para los mensajes */
}



body {
    font-family: 'Afacad', sans-serif;
    background: var(--background-color);
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-primary-color);
    font-size: 1.1rem;
}

header.main-header {
    background-color: var(--background-color);
    padding: 0.9375rem 5%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-img {
    height: 3.125rem;
    margin-right: 1.25rem;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    padding: 0;
}

.nav-links a {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links a:hover {
    color: var(--aqua);
}

main {
    flex-grow: 1;
    padding: 1.25rem 5%;
    padding-top: 80px; 
}

.home-section {
    padding: 2.5rem 5%;
    text-align: center;
    background-color: var(--surface-color);
    backdrop-filter: blur(10px); 
    border-radius: 0.9375rem;
    margin-bottom: 1.875rem;
}

.home-content h1 {
    font-size: 2.5rem;
    color: var(--text-primary-color);
    margin-bottom: 1.25rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.25rem;
    color: var(--text-secondary-color);
    max-width: 50rem;
    margin: 0 auto;
    font-weight: 400;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    margin-top: 2rem;
}

.features-section, .chat-section {
    width: 100%;
    max-width: 50rem;
    background-color: var(--surface-color);
    backdrop-filter: blur(10px); 
    border-radius: 0.9375rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.2);
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-height: 50rem;
}

.features-content h2 {
    font-size: 1.75rem;
    color: var(--aqua);
    margin-bottom: 1.25rem;
    font-weight: 700;
}

.features-content ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color: var(--text-secondary-color);
}

.features-content li {
    margin-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.features-content li::before {
    content: '•';
    color: var(--aqua);
    font-size: 1.25rem;
    margin-right: 0.625rem;
}

.chat-container {
    width: 100%;
    background-color: var(--chat-background);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

#messages::-webkit-scrollbar {
    width: 0.5rem;
}

#messages::-webkit-scrollbar-track {
    background: var(--background-color);
}

#messages::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}

.message {
    margin-bottom: 1rem;
    line-height: 1.4;
}

.user-message {
    align-self: flex-end;
}

.bot-message {
    align-self: flex-start;
}

.message-content {
    display: inline-block;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    max-width: 80%;
    word-wrap: break-word;
    box-shadow: var(--message-shadow);
}

.user-message .message-content {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.bot-message .message-content {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.bot-message h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.bot-message ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.bot-message li {
    margin-bottom: 5px;
}

.input-area {
    display: flex;
    padding: 1rem;
    background-color: var(--chat-background);
    border-top: 1px solid var(--background-color);
    border-radius: 0.9375rem;
    margin-top: .5rem;
}

#user_input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid var(--primary-color);
    border-radius: 1.25rem;
    font-size: 0.875rem;
    background-color: var(--input-background);
    color: var(--text-color);
}

#send-button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    padding: 0.75rem 1.25rem;
    margin-left: 0.625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
    font-size: 1rem;
}

#send-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.main-footer {

    color: var(--text-secondary-color);
    text-align: center;
    padding: 0.9375rem;
    margin-top: 1.875rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(138, 43, 226, 0.4);
    }
    70% {
        box-shadow: 0 0 0 0.625rem rgba(138, 43, 226, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(138, 43, 226, 0);
    }
}

.chat-header {
    animation: pulse 2s infinite;
}

.btn {
    border: none;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--surface-color);
    cursor: pointer;
    transition: all 450ms ease-in-out;
    margin: 1.25rem auto;
}

.sparkle {
    fill: var(--text-secondary-color);
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: var(--text-secondary-color);
    font-size: 1.1rem;
}

.btn:hover {
    background: linear-gradient(0deg, var(--secondary-color), var(--primary-color));
    box-shadow: inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.4),
    inset 0 -0.25rem 0 0 rgba(0, 0, 0, 0.2),
    0 0 0 0.25rem rgba(255, 255, 255, 0.2),
    0 0 11.25rem 0 var(--highlight-color);
    transform: translateY(-0.125rem);
}

.btn:hover .text {
    color: white;
}

.btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}



/* Media queries para responsividad */

@media (max-width: 48rem) { /* 768px */
    html {
        font-size: 16px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        margin-top: 1.0714rem;
    }
    .home-content h1 {
        font-size: 2rem;
    }
    .home-content p {
        font-size: 1.1429rem;
    }
    .features-section {
        padding: 1.4286rem;
    }
    .chat-section {
        height: 95vh; /* Aumentado para dar más espacio */
        max-height: none; /* Eliminamos la altura máxima para que ocupe todo el espacio disponible */
        font-size: 1rem;
        padding: 1rem; /* Añadimos un poco de padding */
        margin: 1rem 0; /* Añadimos margen arriba y abajo */
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Añadimos una sombra sutil */
    }
    .features-content h2 {
        font-size: 1.7143rem;
    }
    #messages {
        height: calc(95vh - 10rem); /* Ajustamos la altura para que ocupe la mayor parte de la sección de chat */
        overflow-y: auto; /* Aseguramos que se pueda hacer scroll si el contenido excede la altura */
    }
    .btn {
        width: 12.8571rem;
        height: 3.2143rem;
        font-size: 1rem;
    }
}

@media (max-width: 30rem) { /* 480px */
    html {
        font-size: 14px;
    }
    .home-content h1 {
        font-size: 2rem;
    }
    .home-content p {
        font-size: 1.1667rem;
    }
    .features-content h2 {
        font-size: 1.6667rem;
    }
    .features-content li {
        font-size: 1.1667rem;
    }
    #messages {
        padding: 0.75rem;
        font-size: 1rem;
        height: calc(90vh - 8rem); /* Ajustamos la altura para pantallas muy pequeñas */
    }
    .message-content {
        max-width: 90%;
        font-size: 1.1667rem;
    }
    .btn {
        width: 13.3333rem;
        height: 3.3333rem;
        font-size: 1rem;
    }
    .chat-section {
        height: 90vh; /* Aumentamos la altura para pantallas pequeñas */
        max-height: none;
        padding: 0.75rem;
        margin: 0.5rem 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.example-2 .icon-content {
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}



/* From Uiverse.io by javadpg */ 
.card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;
    border-radius: 6px;
    transition: .3s;
    background-color: #000;
  }
  
  .card-p {
    position: absolute;
    text-align: center;
  }
  
  .card::after {
    content: "";
    position: absolute;
    z-index: -6;
    border-radius: 6px;
    width: 320px;
    height: 370px;
    background-color: #8EC5FC;
    transition: .7s;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }
  
  .card-countent {
    padding: 20px;
    text-align: center;
    color: transparent;
    transition: all .7s;
    opacity: 0;
  }
  
  .card:hover {
    transition: .7s;
    transform: rotate(180deg);
  }
  
  .card:hover > .card-p {
    color: transparent;
  }
  
  .card:hover > .card-countent {
    opacity: 1;
    color: #000;
    transform: rotate(-180deg);
  }


  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .ball {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    border-radius: 11px;
    margin: 0 10px;
    animation: 2s bounce ease infinite;
  }
  .blue {
    background-color: #4285f5;
  }
  .red {
    background-color: #ea4436;
    animation-delay: 0.25s;
  }
  .yellow {
    background-color: #fbbd06;
    animation-delay: 0.5s;
  }
  .green {
    background-color: #34a952;
    animation-delay: 0.75s;
  }
  @keyframes bounce {
    50% {
      transform: translateY(25px);
    }
  }



  .gallery-container {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;  /* 100% * number of images */
}

.gallery img {
    width: 33.333%;  /* 100% / number of images */
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-33.33%);
    }
    66.66% {
        transform: translateX(-66.66%);
    }
    100% {
        transform: translateX(0);
    }
}

.gallery {
    animation: slide 15s infinite;
}

.gallery:hover {
    animation-play-state: paused;
}